$width-1:                 57px !default;
$width-2:                 67% !default;
$width-3:                 50% !default;

$margin-1:                 12px !default;
$margin-1-top:             15px !default;
$margin-bottom:            20px !default;

* {
	font-family: "Open Sans", sans-serif;
}


.width-1 {

	width:$width-1;
	margin-right: $margin-1; 

}
.width-2 {

	width:$width-2;

}

.width-3 {

	width:$width-3;

}

.margin-top {
	margin-top:$margin-1-top;
}

.margin-bottom {
	margin-bottom:$margin-bottom;
}


.margin-left {
	margin-left:$margin-1;
}

.white-bg {
	background: $white;
}


.blue-bg {
	@include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}

.light-grey-bg {
	background: $grayLight;
}

.white-text {
	color:$white;
}

.avatar {
	border: solid 1px $grayLighter;
	padding:5px;
	background:$white; 
	margin-bottom: 15px;
}

.span12 {
	padding: 15px !important;
}

.fix {
	padding: 0px !important;
}
.margin-left-fix {margin-left:0;}

.border-bottom {
	border-bottom: 1px solid $gray;
}

.shadow-bottom {
	@include box-shadow(0 1px 4px rgba(99, 99, 99, 0.4));
}

.shadow-top {
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(99, 99, 99, 0.4);
	box-shadow: inset 0px 1px 3px 0px rgba(99, 99, 99, 0.4);
}


.date {

}

.clear-fix {
	clear:both;
}

ul.nav-swipe {
		margin:0;
		padding:0;
	li {
		height:57px;
	}

	i {
		font-size:21px;
		line-height:63px;
		color:#bbbcbf;
		margin:0 20px;
	}

	li.active, li.active i{
		color:$blue;
		font-size:30px;
	}
}



.text-box {
	border:1px solid #ececec;
	background:#fafafa;
	padding:20px;
	margin-bottom: 20px;
}

.left-messages {
position:fixed;
right:4px;
top:110px;
z-index: 200;
width:37px;
height:37px;
@include buttonBackground($redlight, $red);
border:0;
border-bottom:2px solid #d50d41;
	i {
		line-height:37px;
		font-size:21px;
		color:$white;
	}

	a {
		text-decoration:none;
	}
}

.big-icon {
margin-left: 7px;
	i {
		font-size:24px;
		line-height: 220%;

	}
}


button i {
	margin-right:5px;
}

p {
margin: 0 0 8px 0;
line-height: 16px;
font-weight: 300;
	b {
		text-transform:uppercase;
	}
}

.padding-remove {
	padding:0;
}

.small {
	font-size:10px;
	width: 50%;
	margin-left: 10px;
}
.span4.blue-bg {padding:19px;}

.responsive-buttons .span4 {
	margin-bottom: 10px;
	width: 23%;
}

.bar-swipe {
	width:100%;
	background:$white;
	height:30px;
	@include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
	border-bottom:1px solid #dbdbdb;
	border-top:1px solid #dbdbdb;

	.swipe {
		height:30px;
		border-right:1px solid #dbdbdb;
		line-height:30px;
		width:57px;
		text-transform: uppercase;
		text-align:center;
		font-weight:600; 
		float:left;
	}
}

	.swipe-long {
		height:30px;
		line-height:30px;
		text-transform: uppercase;
		text-align:center;
		font-weight:600; 
		color:#bbbcbf;
		font-family: "Open Sans", sans-serif;
		border-right:1px solid #dbdbdb;
	}



	.swipe-bg-none {
		background:none !important;
		border:none !important;
		height:auto;
	}

	.big-font {
		font-size:25px;
		font-weight:600;
	}


.fix-height {
	height: 120px;
}

.border-right {
	border-right:1px solid #dbdbdb;
}

.padding-fix {
	padding-top: 10px !important;
}

.padding-left {
	padding-top: 10px;
	padding-left: 12px;
}

.active {
		color:$blue;
		font-size:30px;
	}
ul.seg-cards {margin:12px 0 0 0;list-style:none;}
.intro {text-align:center;padding:19px;}
.login .intro p {color: #FFF;font-size: 15px;line-height: 1.55em;}
body.login {
  // repeating amex bg below 
  //background: $bodyBackground url(../images/amex-bg-repeat.png) repeat-x 0 0;} 
  // FULL SCREEN image
  background: url(http://www.australia.com/contentimages/plan-plan-your-trip-find-travel-agent.jpg) no-repeat fixed;
}

table.table-striped:first-child tr td {
padding-top: 14px;
}


.onoffswitch {
	margin-bottom:20px;
}

.no-bg {
	background:none;
	background:#bdbec1 !important;
}

.settings p {
	line-height:40px;
}

.alerts 
{
	h2 {
		margin: 0 0 8px 0;
		font-size: 12px;
		line-height: 16px;
		font-weight: bold;
		text-transform: uppercase;
	}

	h3 {
		margin: 0 0 8px 0;
		line-height: 16px;
		font-weight: 300;
		font-size: 12px;
	}

	button i {
		margin:0;
	}

}

.alerts p span {

}