//
// SwipeNav
// --------------------------------------------------


/* Swipe 2 required styles */

.swipe {
    overflow: hidden;
      visibility: hidden;
        position: relative;
}
.swipe-wrap {
    overflow: hidden;
      width: 100%;
        position: relative;
}
.swipe-wrap > div {
    float:left;
      width:100%;
        position: relative;
}

/* END required styles */

.green-bg {
    background: #13be6c; }

.orange-bg {
        background: #f89a06; }
