<div class="mcm-alert-header">
	<h2>Feedback Request</h2>
	<h3>{{content.Servicename}}</h3>
</div>

<p class="mcm-alert-body" style="padding: 20px;">
	<button class="btn btn-large btn-block btn-primary" 
		type="button"
		ng-show="obj.data != ''"
		ng-repeat="obj in content.displayData"
		ng-click="sendFeedbackResponse($index)">
		{{obj.data}}
	</button>
</p>

<div class="mcm-alert-footer">
	<span class="mcm-alert-sender">{{content.Sender}}</span> 
	<span class="mcm-alert-receiveDateTime">| {{content.displayRxDateTime}}</span>
</div>