<div class="mcm-alert-header">
	<h2>Info Alert</h2>
	<h3>{{content.Servicename}}</h3>
</div>

<div class="text-box img-rounded text-center"

<p class="mcm-alert-body" ng-repeat="obj in content.displayData">
	<span ng-if="obj.dtype == 'data'">
		{{obj.data}}
	</span>
	<span ng-if="obj.dtype == 'tel'">
			<a ng-href="{{obj.data}}">{{obj.data}}</a>
	</span>
	<span ng-if="obj.dtype == 'link'">
			<a ng-href="{{obj.data}}">click here</a>
	</span>
</p>

</div>

<div class="mcm-alert-footer">
	<span class="mcm-alert-sender">{{content.Sender}}</span> 
	<span class="mcm-alert-receiveDateTime">| {{content.displayRxDateTime}}</span>
</div>

