<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" />

  <!-- add meta directive for iOS to allow bookmark launch to non browser -->
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <title>TravelBytes</title>
 
      <!--Javascript-->
      <script type='text/javascript' src="http://code.angularjs.org/angular-1.0.1.js"></script>
      <script type='text/javascript' src="js/ui-bootstrap-tpls-0.6.0.js"></script>
      <script type='text/javascript' src="js/retina.js"></script>
      <script type='text/javascript' src="js/app.js"></script>
      <!--Styles-->
      <link rel="stylesheet" type="text/css" href="css/responsive.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
       <link href="css/font-awesome.css" rel="stylesheet">

</head>
<body ng-app="myApp"> 

<!--Demo Modal-->
<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header blue-bg white-text img-top-rounded">
        <button ng-click="cancel()" type="button" class="close">×</button>
            <h3>Messages</h3>
        </div>
        <div class="modal-body">
        <div>
          <p><b>Feedback Request</b></p>
          <p>There has been a disruption in your area. Please advise for itinerary change</p>
          <p style="padding: 20px;">
            <button class="btn btn-large btn-block btn-primary" type="button">None</button>
            <button class="btn btn-large btn-block btn-primary" type="button">Extend Hotel</button>
            <button class="btn btn-large btn-block btn-primary" type="button">Change Airline</button>
          </p>
        </div>

        <div>
          <p><b>Location Request</b></p>
          <p>There has been a disruption in your area. Please advise for itinerary change</p>
          <p class="text-box img-rounded">Lorem ipsum dolor sit amet. Suscipit. Nam, non natoque eleifend Suspendisse dictum Ut cursus nunc laoreet, arcu, neque. Magnis dignissim non! Urna varius platea sodales ultricies</p>
          <p style="padding: 20px;">
            <button class="btn btn-large btn-block btn-primary" type="button">Send Location</button>
            <button class="btn btn-large btn-block btn-primary" type="button">Not Now</button>
          </p>
        </div>

          <p><b>Message</b></p>
          <p class="text-box img-rounded">Lorem ipsum dolor sit amet. Suscipit. Nam, non natoque eleifend Suspendisse dictum Ut cursus nunc laoreet, arcu, neque. Magnis dignissim non! Urna varius platea sodales ultricies</p>

        </div>
        <div>
        </div>
    </script>
<div class="left-messages"><div class="box img-rounded text-center" ng-click="open()"><i class="icon-exclamation-sign"></i></div></div>

</div> <!--modal-->
<!--Navbar-->

<div class="navbar navbar" ng-controller="NavBarCtrl">
    <div class="navbar-inner">
        <div class="container">
            <i ng-click="isCollapsed = !isCollapsed" class="hidden-desktop icon-reorder pull-right"></i>

            <a class="brand" href="#"><img src="images/logo.png" alt="logo"</a>

            <div class="nav-collapse text-center" collapse="isCollapsed">
                <ul class="nav pull-right">
                    <li><a href="#">Dashboard</a>
                    </li>
                    <li><a href="#">Your Profile</a>
                    </li>
                    <li><a href="#">Settings</a>
                    </li>
                    </li>
                    <li><a href="#">Privacy</a>
                    </li>
                    </li>
                    <li><a href="#">T&C's</a>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>

<!--/Navbar-->


<div class="container">
<!--What's Up-->
  <div class="row-fluid white-bg img-rounded" style="padding-bottom: 5px;">
    <div class="span12">
        <div class="pull-left width-1">
          <p><b>Next</b></p>
          <div class="big-icon"><i class="icon-plane"></i></div>
        </div>
        <div class="pull-left width-2">
          <p><b>New York - San Francisco</b></p>
          <p>United Airlines</p>
          <p>Monday 02 Dec 2013 - 06.00AM New York, John F Kennedy Internationall Terminal 7</p>
        </div>
    </div>
  </div><!--/.What's Up-->

<!--Title Section-->
  <div class="row-fluid blue-bg white-text img-top-rounded margin-top">
    <div class="title-fix">
      <h1>New York - San Francisco</h1>
      <h2>Monday 02 Dec 2013</h2>
    </div>
  </div><!--/.Title Section-->
  <div class="bar-swipe">
    <div class="swipe">Next</div>
  </div>
<div class="row-fluid">

<ul class="span12 fix nav-swipe-main img-bottom-rounded">
  <ul class="nav-swipe pull-left text-center">
        <li class="active"><i class="icon-plane"></i></li>
  </ul>
  <ul class="nav-swipe text-center pull-left">
        <li><i class="icon-road"></i></li>
        <li><i class="icon-home"></i></li>
  </ul>
</ul>
</div>


<div class="clear-fix"></div>


<div class="ticket-view">
<!--Title Section-->
  <div class="row-fluid light-grey-bg border-bottom img-top-rounded">
    <div class="span12">
        <div class="pull-left width-1">
          <img class="img-rounded avatar" src="images/airlines/united-airlines.jpg" alt="">
        </div>

        <div class="pull-left width-2" style="margin-top:10px;">
          <p>United Airlines</p>
          <p><i style="color:#00957d;"class="icon-ok"></i><i>Confirmed</i></p>
        </div>
    </div>
  </div><!--/.What's Up-->

<div class="row-fluid white-bg">
  <div class="row-fluid">
    <div class="span12">
      <table class="table">
          <tbody>
          <tr>
            <th>Depart</th>
            <th>Arrive</th>
          </tr>
          <tr>
            <td>02 Dec 2013</td>
            <td>02 Dec 2013</td>
          </tr>
          <tr class="big-font">
            <td>06.00PM</td>
            <td>09.33PM</td>
          </tr>
          <tr>
            <td><img src="images/weather/1.png" class="pull-left" alt=""> <p  class="small pull-left">New York, John F Kennedy Internationall Terminal 7</p>
            </td>
            <td><img src="images/weather/1.png" class="pull-left" alt=""> <p  class="small pull-left">San Francisco, San Francisco International Terminal 3</p>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
</div>

<div class="row-fluid white-bg">
  <div class="row-fluid">
    <div class="span12 fix">
      <table class=" table table-striped shadow-top">
          <tbody><tr>
            <td>Estimated Duration</td>
            <td>6 Hrs 33 Mins</td>
          </tr>
          <tr>
            <td>Stops</td>
            <td>Non-stop</td>
          </tr>
          <tr>
            <td>Class</td>
            <td>UA303 Economy Class</td>
          </tr>
          <tr>
            <td>Seat</td>
            <td>30E</td>
          </tr>
          <tr>
            <td>Airline Booking Reference</td>
            <td>FLVDWJ</td>
          </tr>

        </tbody>
      </table>
  </div>
  </div>
</div>





<div class="row-fluid white-bg shadow-top margin-bottom img-bottom-rounded">
  <div class="span12 responsive-buttons">
  <div class="span4">
<!--Demo Modal-->
<div ng-controller="ModalDemoCtrl2">
    <script type="text/ng-template" id="myModalContent2.html">
        <div class="modal-header blue-bg white-text img-top-rounded">
        <button ng-click="cancel()" type="button" class="close">×</button>
            <h3>Weather Forcast</h3>
        </div>
        <div class="modal-body">
        
 <tabset  vertical="true">
    <tab heading="New York, John F Kennedy Internationall Terminal 7">Static content</tab>
    <tab>
      <tab-heading>San Francisco, San Francisco International Terminal 3</tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab>
  </tabset>

        </div>
        <div>
        </div>
    </script>
<button class="btn btn-large btn-block btn-primary" type="button" ng-click="open()"><i class="icon-cloud"></i>Forecast</button>


</div> <!--modal-->
  </div>
  <div class="span4">
<!--Demo Modal-->
<div ng-controller="ModalDemoCtrl3">
    <script type="text/ng-template" id="myModalContent3.html">
        <div class="modal-header blue-bg white-text img-top-rounded">
        <button ng-click="cancel()" type="button" class="close">×</button>
            <h3>Location</h3>
        </div>
        <div class="modal-body">
        
 <tabset  vertical="true">
    <tab heading="New York, John F Kennedy Internationall Terminal 7">
          <img class="img-rounded"src="images/maps/map.png" style="width: 100%;" alt="">
    </tab>
    <tab>
      <tab-heading>San Francisco, San Francisco International Terminal 3</tab-heading>
      <img class="img-rounded"src="images/maps/map2.png" style="width: 100%;" alt="">
    </tab>
  </tabset>

        </div>
        <div>
        </div>
    </script>
<button class="btn btn-large btn-block btn-primary" type="button" ng-click="open()"><i class="icon-map-marker"></i>Location</button>


</div> <!--modal-->
  </div>
  <div class="span4">
<button class="btn btn-large btn-block btn-primary" type="button"><i class="icon-cny"></i>Translate</button>

  </div>
  <div class="span4">
<button class="btn btn-large btn-block btn-primary" type="button"><i class="icon-calendar"></i>Calendar</button>
  </div>
  </div>
</div>


</div> <!--/.Ticket View-->



</div> <!--/.container-->


</body>


</html>

