.leftswipe.ng-hide-add,
.leftswipe.ng-hide-remove {
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;
  display:block!important;
}
.leftswipe.ng-hide-remove {
  margin-left: 100%;
}
.leftswipe.ng-hide-remove.ng-hide-remove-active {
  margin-left: 0%;
}
.leftswipe.ng-hide-add {
  /*opacity:1;*/
  margin-left: 0%;
}
.leftswipe.ng-hide-add.ng-hide-add-active {
  /*opacity:0;*/
  margin-left: -100%;
}


.rightswipe.ng-hide-add,
.rightswipe.ng-hide-remove {
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;
  display:block!important;
}
.rightswipe.ng-hide-remove {
  margin-left: -100%;
}
.rightswipe.ng-hide-remove.ng-hide-remove-active {
  margin-left: 0%;
}
.rightswipe.ng-hide-add {
  /*opacity:1;*/
  margin-left: 0%;
}
.rightswipe.ng-hide-add.ng-hide-add-active {
  /*opacity:0;*/
  margin-left: 100%;
}




.card {
	position: absolute;
	display: block;
}
